<div>
    <h2>{{header}}</h2>
    <div ng-class="infoClass" ng-show="loginInfo">
        <i ng-class="iconClass" aria-hidden="true"></i>
        Password Status: {{loginInfo}}</div>
    <form name="forgetForm">
        <div><label>Email Id: </label>
            <div class="info-box" ng-show="editDisable">{{user.email}}</div>
            <input type="email" name="email" ng-model="user.email" required ng-hide="editDisable">
        </div>
        <div class="align-center">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw" ng-show="isLoading"></i>
            <button type="button" ng-click="forgetUser()" ng-hide="editDisable">Forget Password</button>
        </div>
    </form>
    <div class="align-center">
        <a href="/user/#/" class="nowrap">Login</a>
        <a href="/user/#/add" class="nowrap">Add User</a>
        <a href="/user/#/verify" class="nowrap">Verify User</a>
        <a href="/user/#/reset" class="nowrap">Change Password</a>
    </div>
</div>