<div>
    <h2>{{header}}</h2>
    <div ng-class="infoClass" ng-show="loginInfo">
        <i ng-class="iconClass" aria-hidden="true"></i>
        User verify Status: {{loginInfo}}</div>
    <div class="align-center"><button type="button" ng-click="goToHome()">Home</button></div>
    <div class="align-center">
        <a href="/user/#/" class="nowrap">Login</a>
        <a href="/user/#/add" class="nowrap">Add User</a>
        <a href="/user/#/verify" class="nowrap">Verify User</a>
        <a href="/user/#/forget" class="nowrap">Forget Password</a>
        <a href="/user/#/reset" class="nowrap">Change Password</a>
    </div>
</div>